@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

body {
	text-align: center;
	color: #FFF;
	background: #000;
	font-size: 8pt;
	font-family:Verdana;
}
		

#wapper {
	text-align: left;
	width: 80%;
	margin: 0 auto;
}

header, footer, nav, aside, section, article {
	display: block;
}

header, footer, nav, aside, section {
	margin-top: 10px;
}

header, nav, aside, section, footer {
	background-color: #666;
}

header, nav, footer {
	width: 100%;
}

aside {
	width: 30%;
	float: left;
}

section {
	margin-bottom: 10px;
	width: 65%;
	float: right;
}

article {
	width: 90%;
	margin: 20px;
	background-color: #999;
}

footer {
	clear: both;
}

.dscroll {
	overflow: scroll;
}

.button {
	background-color: #c0c0c0;
	color: #666666;
	border: 1px solid #999999;
}

.button:Hover {
	color: #444444
}

table.filelist {
	background-color: #666666;
	width: 100%;
	border: 0px none #ffffff
}

th {
	background-color: #c0c0c0
}

tr.mouseout {
	background-color: #ffffff;
}

tr.mousein {
	background-color: #eeeeee;
}

tr.checked {
	background-color: #cccccc
}

tr.mousechecked {
	background-color: #c0c0c0
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: black;
}

td.message {
	background-color: #FFFF00;
	color: #000000;
	text-align: center;
	font-weight: bold
}

td.error {
	background-color: #FF0000;
	color: #000000;
	text-align: center;
	font-weight: bold
}

A {
	color: #0060B6;
	text-decoration: none;
}

A:Hover {
	color: Red;
	text-decoration: underline;
}
